version: '3.8'


networks:
  shared-net:
    external: true


services:
  jahed_backend:
    build: 
      context: .
    networks:
      - shared-net
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: gunicorn jahed_backend_api.wsgi:application --bind 0.0.0.:8000

